/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: cyan;
  color: teal;
  font-family: Arial, sans-serif;
 /* text-align: center;*/
}

/* Header */
header {
  background-color: cyan;
  color: teal
  text-align: center;
  padding: 0.3em auto 0.3em auto;
  border: 2px turquoise;
  margin: 0;
  line-height: 1;
  background-image: radial-gradient(lightcyan,
                                turquoise,  teal);  /* Gradient */
}

header h1 {
  background-color: cyan;
  color: teal;
  margin: 0;
  padding: 10px auto 10px auto;
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em; 
/*  border: 2px solid saddlebrown; */
  background-image: radial-gradient(lightcyan,
                                turquoise,  teal);
}

h2 {
  background-color: cyan;
  font-size: 3em;
  font-weight: 800;
  color: teal;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  border-bottom: 2px solid teal;
  background-image: radial-gradient(lightcyan,
                                turquoise,  teal);
}

h3 {
  background-color: cyan;
  font-size: 2em;
  color: teal;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  background-image: radial-gradient(lightcyan,
                                turquoise,  teal);
}


 p {
  background-color: cyan;
  color: teak;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  line-height: 50%;
}


footer { 
  background-color: cyan;
  color: teal;
  margin: 0px auto 0px auto;
  padding: 0px auto 0px auto;
  text-align: center;
  border: 2px solid turquoise;
  font-size: 2.0em;
  background-image: radial-gradient(lightcyan,
                                turquoise,  teal);
}
