/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: tan;
  color: saddlebrown;
  font-family: Arial, sans-serif;
 /* text-align: center;*/
}

/* Header */
header {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
/*  padding: 0.3em 0;   */
  border: 2px solid saddlebrown;
  margin: 0;
  line-height: 1;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);  /* Gradient */
}

header h1 {
  background-color: tan;
  color: saddlebrown;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em; 
/*  border: 2px solid saddlebrown; */
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}

h2 {
  background-color: tan;
  font-size: 3em;
  font-weight: 800;
  color: saddlebrown;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  border-bottom: 2px solid saddlebrown;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}

h3 {
  background-color: tan;
  font-size: 2em;
  color: saddlebrown;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}


 p {
  background-color: tan;
  color: saddlebrown;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  line-height: 50%;
}


footer { 
  background-color: tan;
  color: saddlebrown;
  margin: 0px auto 0px auto;
  padding: 0px auto 0px auto;
  text-align: center;
  border: 2px solid saddlebrown;
  font-size: 2.0em;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}
