/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: red;
  font-family: Arial, sans-serif;
 /* text-align: center;*/
}

/* Header */
header {
  background-color: red;
  color: black;
  text-align: center;
  padding: 0.3em auto 0.3em auto;
  border: 2px red;
  margin: 0;
  line-height: 1;
  background-image: radial-gradient(red
                                crimson,  black);  /* Gradient */
}

header h1 {
  background-color: red;
  color: black;
  margin: 0;
  padding: 10px auto 10px auto;
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em; 
/*  border: 2px solid saddlebrown; */
  background-image: radial-gradient(red,
                                crimson,  black);
}

.container {
  display: flex;
  justify-align: center;
  align-content: center;
}

h2 {
  background-color: red;
  font-size: 5em;
  text-align: center;
  font-weight: 800;
  color: black;
  margin: 0;
  padding: 10px auto 10px auto;
  border: 3px solid crimson;
  background-image: radial-gradient(red,
                                crimson,  black);
}

h3 {
  background-color: red;
  font-size: 2em;
  color: black;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  background-image: radial-gradient(red,
                               crimson,  black);
}


 p {
  background-color: red;
  color: black;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  line-height: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  width: 100vw;
}  

Blockquote {
  background-color: black;
  color: red;
  font-size: 5em;
  text-align: center;
  padding: 50px;
  margin: 25p;
  border: 3px solid red;
  background-image: radial-gradient(red,
                                crimson,  black);  /* Gradient */
}



footer { 
  background-color: red;
  color: black;
  margin: 0px auto 0px auto;
  padding: .3em auto .3em auto;
  text-align: center;
  font-size: 2.0em;
  background-image: radial-gradient(red,
                                crimson,  black);
}
