/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: red;
  font-family: Arial, sans-serif;
}

header h1 {
  background-color: red;
  color: black;
  margin: 0px auto 5px auto; 
  padding: 15px auto 15px auto;
  border-radius: 17px;
  border: 3px solid black;
  text-align: center;
  font-size: 1.5em; /* 4.5 */
  font-weight: bold;
  text-shadow: 2px 2px 2px whitesmoke;
/*  line-height: .6em; */
  background-image: radial-gradient(red,
                                crimson,  black);
}

.container {
  display: flex;
  justify-content: center;  /* only used for vertical alignment to center it */
  align-items: center;
}

h2 {
  background-color: red;
  font-size: 2.5em;
  text-align: center; 
  border-radius: 50px;
  border: 5px solid black;
  font-weight: 800;
  color: black;
  text-shadow: 2px 2px 2px whitesmoke;
/* margin: 120px auto 120px auto; */ /* took margin out and used flex box for margin adjuustment 👍 */
  padding: 10px 5px 10px 5px; /* added 10px padding to sides looks much better */
  background-image: radial-gradient(red,
                                crimson,  black);
}

h3 {
  background-color: red;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 17px;
  border: 3px solid black;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 2px whitesmoke;
  margin: 5px auto 0px auto;
  padding: 15px auto 15px auto;
  background-image: radial-gradient(red,
                               crimson,  black);
  {

