/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: red;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: red;
  color: black;
  text-align: center;
  padding: 0.3em auto 0.3em auto;
  border: 2px red;
  margin: 0;
  line-height: 1;
  background-image: radial-gradient(red
                                crimson,  black);  /* Gradient */
}

header h1 {
  background-color: red;
  color: black;
  margin: 0;
  padding: 10px auto 10px auto;
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em; 
  background-image: radial-gradient(red,
                                crimson,  black);
}



h2 {
  background-color: red;
  font-size: 5em;
  text-align: center;
  font-weight: 800;
  color: black;
  border-radius: 10px;
  margin: 50px auto 50px auto;
  padding: 25px auto 25px auto;
  background-image: radial-gradient(red,
                                crimson,  black);
}

h3 {
  background-color: red;
  font-size: 2em;
  color: black;
  text-align: center;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  background-image: radial-gradient(red,
                               crimson,  black);
  {

footer { 
  background-color: red;
  color: black;
  margin: 0px auto 0px auto;
  padding: .3em auto .3em auto;
  text-align: center;
  font-size: 2.0em;
  background-image: radial-gradient(red,
                                crimson,  black);
}
