/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: red;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: red;
  color: black;
  text-align: center;
  padding: 10px auto 10px auto;
  border: 2px red;
  margin: 0px auto 10px auto;
  line-height: 1;
  background-image: radial-gradient(red
                                crimson,  black);  /* Gradient */
}

header h1 {
  background-color: red;
  color: black;
  margin: 0px auto 10px auto; 
  padding: 10px auto 10px auto;
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em; 
  background-image: radial-gradient(red,
                                crimson,  black);
}


/*
Source - https://stackoverflow.com/a
Posted by alephao
Retrieved 2026-01-20, License - CC BY-SA 4.0
*/

.container {
  min-height: 100vh; /* minimum height = screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  background-color: red;
  font-size: 5em;
/*  text-align: center; */
  font-weight: 800;
  color: black;
/* border-radius: 10px;
  margin: 120px auto 120px auto; */
  padding: 25px auto 25px auto;
  background-image: radial-gradient(red,
                                crimson,  black);
}

h3 {
  background-color: red;
  font-size: 4.0em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 10px auto 0px auto;
  padding: 10px auto 10px auto;
  background-image: radial-gradient(red,
                               crimson,  black);
  {

footer { 
  background-color: red;
  color: black;
  margin: 10px auto 0px auto;
  padding: 10px auto 10px auto;
  text-align: center;
  font-size: 4.0em;
  background-image: radial-gradient(red,
                                crimson,  black);
}
